body{
	background-color: #232323;
	margin: 0px;
	font-family: "Montserrat", "Avenir";
}
h1{
	color: white;
	margin: 0;
	text-align: center;
	font-weight: normal;
	padding: 20px 0;
	text-transform: uppercase;
}

#container{
	margin: 0 auto ;
	max-width: 600px;
}

.square {
	padding-bottom: 30%;
	padding-right: 30%;
	margin: 1.66%;
	float: right;
	border-radius: 20px;
}

#layout{
	background-color: steelblue;
	
}

#corSeleta{
	font-size: 200%;
}

.errou{
	padding-bottom: 30%;
	padding-right: 30%;
	margin: 1.66%;
	float: right;
	border-radius: 20px;
	transition: background-color="purple" 2s ease-in-out 2s;
}