body{
	background-color: #232323;
	margin: 0px;
}
p{
	color: white;
	margin: 0px
}

#container{
	margin: 0 auto ;
	max-width: 600px;
}

.square {
	padding-bottom: 30%;
	padding-right: 30%;
	margin: 1.66%;
	float: right;
	border-radius: 20px;
}

#layout{
	padding: 0px;
	background-color: #0d9cde;
	padding: 0px auto;
	
}